name: Deploy Vite App to Hostinger

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build Vite project
        run: npm run build

      - name: Deploy to Hostinger via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.FTP_HOST }}        # 145.79.212.128
          username: ${{ secrets.FTP_USERNAME }}  # u791880500
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}          # 21
          protocol: ftp
          local-dir: dist/
          server-dir: ./    # <-- THIS IS THE ROOT public_html
          log-level: verbose
          exclude: |
            **/.git*
